* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 980px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header{
    height: 100px;
    background-color: #7b4343;

}

